<svg width="13px" height="14px" viewBox="0 0 13 14" version="1.1" [attr.transform]="'scale('+scale+')'" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Agenda/Basis" transform="translate(-1344.000000, -87.000000)">
      <g id="Group-4" transform="translate(1325.000000, 64.000000)">
        <g id="Group-3" transform="translate(14.000000, 19.000000)">
          <g id="Icon/JobLight" transform="translate(4.000000, 4.000000)">
            <circle id="Oval" [attr.stroke]="stroke || fill" stroke-width="1.5" cx="7" cy="8" r="5.25"></circle>
            <polygon id="Rectangle" [attr.fill]="fill" fill-rule="evenodd" points="9 0 9 1 7.66666667 1 6.33333333 1 5 1 5 0"></polygon>
            <rect id="Rectangle-2" [attr.fill]="fill" fill-rule="evenodd" transform="translate(11.444544, 3.444544) rotate(45.000000) translate(-11.444544, -3.444544) "
                  x="10.4445436"
                  y="1.69454365" width="2" height="3.5"></rect>
            <rect id="Rectangle-3" [attr.fill]="fill" fill-rule="evenodd" x="6" y="5" width="2" height="3"></rect>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
