.brx-container {
  margin-top: 25px;
}

::ng-deep {
  .modal-full {
    .modal-dialog {
      max-width: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .modal-content {
        background-color: transparent;
      }
    }
  }
}
