<div class="form-group">
  <label class="top-label">{{label}}</label>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input brx-custom-checkbox" (change)="checkboxChanged()" type="checkbox" [class.invalid]="errors" [id]="name" [(ngModel)]="value"/>
    <label class="custom-control-label brx-custom-label" [for]="name">
      <span>{{checkboxLabel}}</span>
    </label>
  </div>
  <ng-container *ngIf="errors">
    <div *ngFor="let key of objectKeys(errors)" class="text-danger small">
      {{getErrorMessage(key)}}
    </div>
  </ng-container>
</div>
