<brx-tabs [routes]="routes">
  <form class="container-fluid brx-container form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <brx-input-text sizeClasses="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" formControlName="name" label="Naam"></brx-input-text>
      <brx-input-text sizeClasses="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" formControlName="activity" label="Uursoort"></brx-input-text>
    </div>
    <hr/>
    <div class="row">
      <brx-input-select-project sizeClasses="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" formControlName="project"
                                label="Project">
        <brx-button-create input-append></brx-button-create>
      </brx-input-select-project>
      <brx-input-text sizeClasses="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" label="Klant">
        <brx-button-create input-append></brx-button-create>
      </brx-input-text>
    </div>
    <hr/>
    <div class="row">
      <brx-input-date sizeClasses="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" label="Startdatum" formControlName="startDate"></brx-input-date>
      <brx-input-date sizeClasses="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6" label="Einddatum" formControlName="endDate"></brx-input-date>
      <brx-form-checkbox sizeClasses="col-xl-8 col-lg-6 col-md-4 col-sm-12 col-12" label="&nbsp;" checkboxLabel="Gebruik start- en einddatum van project"></brx-form-checkbox>
    </div>
    <div class="row">
      <brx-form-checkbox sizeClasses="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3" label="Verantwoordelijke" checkboxLabel="Ikzelf"></brx-form-checkbox>
      <brx-input-select-user sizeClasses="col-xl-4 col-lg-4 col-md-5 col-sm-9 col-9" placeholder="Zoek op medewerker" label="&nbsp;">
        <span class="input-group-prepend align-items-center" input-prepend>
        <brx-input-checkbox></brx-input-checkbox>
        </span>
        <brx-button-create input-append></brx-button-create>
      </brx-input-select-user>
    </div>
    <div class="row">
      <brx-input-text sizeClasses="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" label="Verantwoordelijke extern">
        <brx-button-create input-append></brx-button-create>
      </brx-input-text>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12">
        <brx-button-primary type="submit">Maak klus aan</brx-button-primary>
        <brx-button-plain (click)="cancel()"><span class="brx-primary">ANNULEER</span></brx-button-plain>
      </div>
    </div>
  </form>
</brx-tabs>
