<form class="form" [formGroup]="tenantForm" (ngSubmit)="onSubmit()" novalidate>
  <h2>Nieuwe tenant</h2>
  <div class="row">
    <brx-input-text label="Organisatie naam" name="name" formControlName="name" [errorMessages]="errorMessages.name"
                    sizeClasses="col-lg-3 col-md-5 col-sm-7 col-12"></brx-input-text>
    <brx-input-select-user label="Medewerker" name="user" [users]="allUsers" [errorMessages]="errorMessages.name" [formControl]="tenantForm.get('user').get('existing')"
                           sizeClasses="col-lg-3 col-md-5 col-sm-7 col-12">
      <brx-button-create input-append (click)="setCreateNewEmployee(true)"></brx-button-create>
    </brx-input-select-user>
  </div>
  <ng-template [ngIf]="createNewEmployee">
    <div class="row row-create-employee">
      <div class="col-12">
        <h2>Nieuwe medewerker
          <brx-icon-close class="float-right pointer" (click)="setCreateNewEmployee(false)"></brx-icon-close>
        </h2>
        <div class="row">
          <brx-input-text label="E-mail" [errorMessages]="errorMessages.name" [formControl]="tenantForm.get('user').get('email')" name="employee-email"
                          sizeClasses="col-12 col-sm-8 col-md-5 col-lg-5 col-xl-3"></brx-input-text>
        </div>
        <div class="row">
          <brx-input-text label="Voornaam" [errorMessages]="errorMessages.name" [formControl]="tenantForm.get('user').get('givenName')" name="first-name"
                          sizeClasses="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2"></brx-input-text>
          <brx-input-text label="Tussenvoegsels" [errorMessages]="errorMessages.name" [formControl]="tenantForm.get('user').get('insertion')"
                          name="insertion" sizeClasses="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-1"></brx-input-text>
          <brx-input-text label="Achternaam" [errorMessages]="errorMessages.name" [formControl]="tenantForm.get('user').get('familyName')" name="last-name"
                          sizeClasses="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2"></brx-input-text>
        </div>
      </div>
    </div>
  </ng-template>
  <hr/>
  <h2>Adres</h2>
  <div formArrayName="addresses" *ngFor="let address of tenantForm.get('addresses').controls; let i = index">
    <div [formGroupName]="i.toString()">
      <div class="row">
        <brx-form-address [(brxFormGroup)]="address"></brx-form-address>
        <div class="col-2 col-sm-4 col-md-3 col-lg-2 btn-delete">
          <div class="form-group">
            <label class="d-block">&nbsp;</label>
            <div class="d-flex justify-content-end">
              <div>
                <brx-button-primary (click)="addAddress()">
                  <brx-icon-plus-light></brx-icon-plus-light>
                  Adres
                </brx-button-primary>
              </div>
              <div>
                <brx-button-dark (click)="removeAddress(i)" *ngIf="tenantForm.get('addresses').controls.length > 1">
                  <brx-icon-delete color="#ffffff" transform="scale(1.2)"></brx-icon-delete>
                </brx-button-dark>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <h2>Algemene contactgegevens</h2>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-11 col-lg-12">
      <div class="row">
        <div class="col-10 col-sm-7 col-md-5 col-lg-5">
          <ng-container formArrayName="phoneNumbers" *ngFor="let phoneNumber of tenantForm.get('phoneNumbers').controls; let i = index">
            <div class="row" [formGroupName]="i.toString()">
              <brx-input-text label="Telefoonnummer" type="phone" name="phoneNumber-{{i}}" formControlName="phoneNumber"
                              sizeClasses="col-lg-8 col-md-12 col-sm-12 col-12" [errorMessages]="errorMessages.address">
                <brx-input-phone-number-country-code formControlName="country" input-prepend></brx-input-phone-number-country-code>
                <div class="d-flex" input-append>
                  <brx-button-primary (click)="addPhoneNumber(i)">
                    <brx-icon-plus-light></brx-icon-plus-light>
                  </brx-button-primary>
                  <brx-button-dark *ngIf="tenantForm.get('phoneNumbers').length > 1" (click)="removePhoneNumber(i)">
                    <brx-icon-delete color="#ffffff" transform="scale(1.2)"></brx-icon-delete>
                  </brx-button-dark>
                </div>
              </brx-input-text>
            </div>
          </ng-container>
        </div>
        <div class="col-10 col-sm-7 col-md-5 col-lg-5">
          <ng-container formArrayName="emailAddresses" *ngFor="let email of tenantForm.get('emailAddresses').controls; let i = index">
            <div class="row" [formGroupName]="i.toString()">
              <brx-input-text label="Email" type="email" name="email-{{i}}" formControlName="email"
                              sizeClasses="col-lg-8 col-md-10 col-sm-12 col-12" [errorMessages]="errorMessages.address">
                <div class="d-flex" input-append>
                  <brx-button-primary (click)="addEmail(i)">
                    <brx-icon-plus-light></brx-icon-plus-light>
                  </brx-button-primary>
                  <brx-button-dark *ngIf="tenantForm.get('emailAddresses').length > 1" (click)="removeEmail(i)">
                    <brx-icon-delete color="#ffffff" transform="scale(1.2)"></brx-icon-delete>
                  </brx-button-dark>
                </div>
              </brx-input-text>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="col-12">
      <brx-button-primary type="submit" [disabled]="!tenantForm.valid">Tenant aanmaken</brx-button-primary>
      <a [routerLink]="'..'" (click)="adminTenantService.announceCreatingNewTenant(false)">
        <brx-button-warning outline="true">Annuleer</brx-button-warning>
      </a>
    </div>
  </div>
</form>
