<div class="form-group">
  <label [for]="name">{{label}}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <ng-content select="[input-prepend]"></ng-content>
    </div>
    <input [name]="name" type="text" [editable]="false" [class.invalid]="errors" class="form-control search-field" [(ngModel)]="value" [ngbTypeahead]="search"
           (change)="change()"
           [value]="formatter"
           [resultFormatter]="formatter"
           [inputFormatter]="inputFormatter"
           [placeholder]="placeholder"
           #searchInput
           autocomplete="off"/>
    <div class="input-group-append">
      <span class="input-group-text brx-search-icon"><brx-icon-search></brx-icon-search></span>
      <ng-content select="[input-append]"></ng-content>
    </div>
  </div>
  <ng-container *ngIf="errors">
    <div *ngFor="let key of objectKeys(errors)" class="text-danger small">
      {{getErrorMessage(key)}}
    </div>
  </ng-container>
</div>
