<div [formGroup]="brxFormGroup">
  <brx-input-text label="Telefoonnummer" type="phone" name="address-phoneNumber-{{brxFormGroup.toString()}}" formControlName="phoneNumber"
                  sizeClasses="col-lg-8 col-sm-12 col-11" [errorMessages]="errorMessages">
    <brx-input-phone-number-country-code formControlName="country" [default]="country" input-prepend></brx-input-phone-number-country-code>
    <div class="d-flex" input-append>
      <brx-button-primary (click)="addPhoneNumber.emit()">
        <brx-icon-plus-light></brx-icon-plus-light>
      </brx-button-primary>
      <brx-button-dark *ngIf="numberOfPhoneNumbers > 1" (click)="removePhoneNumber.emit()">
        <brx-icon-delete color="#ffffff" transform="scale(1.2)"></brx-icon-delete>
      </brx-button-dark>
    </div>
  </brx-input-text>
</div>
