<div
  class="cal-event brx-cal-event"
  [style.borderColor]="!weekEvent.event.meta?.proposed ? weekEvent.event.color?.primary: ''"
  [class.brx-proposed]="weekEvent.event.meta?.proposed"
  [class.brx-event-create]="weekEvent.event.meta?.createEvent"
  [class.brx-event-temp]="weekEvent.event.meta?.tmpEvent"
  [mwlCalendarTooltip]="!tooltipDisabled ? (weekEvent.event.title | calendarEventTitle:'weekTooltip':weekEvent.event) : ''"
  [tooltipPlacement]="tooltipPlacement"
  [tooltipEvent]="weekEvent.event"
  [tooltipTemplate]="tooltipTemplate"
  [tooltipAppendToBody]="tooltipAppendToBody"
  (mwlClick)="eventClicked.emit(weekEvent)">
  <mwl-calendar-event-title
    [event]="weekEvent.event"
    [customTemplate]="eventTitleTemplate"
    view="week">
  </mwl-calendar-event-title>
  <mwl-calendar-event-actions
    [event]="weekEvent.event"
    [customTemplate]="eventActionsTemplate">
  </mwl-calendar-event-actions>
</div>

<ng-template
  #eventTitleTemplate
  let-event="event"
  let-view="view">
  <h6
    class="cal-event-title"
    [innerHTML]="event.title | calendarEventTitle:view:event">
  </h6>
  <span>{{event.meta?.project}}</span><br/>
  <span>{{event.meta?.relation}}</span>
</ng-template>

<ng-template
  #eventActionsTemplate
  let-event="event">
<!--  <a class="cal-event-action cal-event-action-edit" href="javascript:;" (mwlClick)="onEdit({event: event})" [innerHTML]="brxIconEdit.asString | sanitizeHTML"></a>-->
      <span *ngIf="event.actions" class="cal-event-actions">
        <a
          class="cal-event-action pointer"
          *ngFor="let action of event.actions"
          (mwlClick)="action.onClick({event: event})"
          [ngClass]="action.cssClass"
          [innerHTML]="action.label | sanitizeHTML"
        >
        </a>
      </span>
</ng-template>
