<div class="form-group">
  <label [for]="name">{{label}}</label>

  <div class="input-group">
    <div class="input-group-prepend">
      <ng-content select="[pre-input]"></ng-content>
    </div>
    <input [type]="type" class="form-control" [id]="name" [name]="name" [autocomplete]="autocomplete" [(ngModel)]="value" [class.invalid]="errors"
           (change)="value=$event.target.value"
           [value]="value"/>
    <div class="input-group-append">
      <ng-content select="[pre-input]"></ng-content>
    </div>
  </div>
  <ng-container *ngIf="errors">
    <div *ngFor="let key of objectKeys(errors)" class="text-danger small">
      {{getErrorMessage(key)}}
    </div>
  </ng-container>
</div>
