<brx-tabs [routes]="tabRoutes">
  <div class="container-fluid brx-header-controls-container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <brx-input-text label="Filter" placeholder="Filter op naam"></brx-input-text>
      </div>
      <div class="col-12 offset-md-4 col-md-4 text-right">
        <brx-button-create (click)="newOrganisation()">Nieuwe Organisatie</brx-button-create>
      </div>
    </div>
  </div>
  <div class="brx-modal-container"></div>
  <brx-list [headers]="listHeaders" orderByKey="name" [items]="relations">
    <ng-container after>
      <div brxListColumn>
        <div brxListHeader>Acties</div>
        <div brxListCell
             *ngFor="let relation of relations | orderBy:sortKey:sortReversed:true; index as index"><span class="brx-primary pointer" (click)="edit(relation.id)">Wijzig
        </span></div>
      </div>
    </ng-container>
  </brx-list>
</brx-tabs>
