<svg width="7px" height="12px" viewBox="0 0 7 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Icon/ChevronLeft" transform="translate(-4.000000, -1.000000)" fill="#424242">
      <polygon id="Fill-3" transform="translate(7.413000, 6.942000) scale(-1, 1) translate(-7.413000, -6.942000) " points="4.884 12.884 4 12 9.058 6.942 4 1.884 4.884 1 10.826 6.942"></polygon>
    </g>
  </g>
</svg>
