<div class="container-fluid brx-header-controls-container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn brx-btn brx-btn-copy-week">Kopieer van vorige week</button>
    </div>
    <div class="col-md-4 text-center">
      <div class="btn-group brx-header-controls">
        <button
          class="btn brx-btn-default brx-btn"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <brx-icon-chevron-left></brx-icon-chevron-left>
        </button>
        <div class="btn brx-week-span">
          <h6 class="text-center brx-week-title">Periode</h6>
          {{days[0].date | date:'dd MMM'}} - {{days[6].date | date:'dd MMM'}}
          <brx-icon-date></brx-icon-date>
        </div>
        <button
          class="btn brx-btn-default brx-btn"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <brx-icon-chevron-right></brx-icon-chevron-right>
        </button>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="btn-group">
        <div class="brx-week-total">
          <div class="small text-black-50">Totaal</div>
          <div>{{dayTotals.total | durationFormat}}</div>
        </div>
        <button class="btn brx-btn brx-btn-warning">Verzenden</button>
      </div>
    </div>
  </div>
</div>
<div class="brx-weekday-headers">
  <div
    class="brx-weekday-header align-bottom"
    *ngFor="let day of days"
    [class.cal-past]="day.isPast"
    [class.cal-today]="day.isToday"
    [class.cal-future]="day.isFuture"
    [class.cal-weekend]="day.isWeekend"
    [ngClass]="day.cssClass"
    (mwlClick)="dayHeaderClicked.emit({day: day})"
    mwlDroppable
    dragOverClass="cal-drag-over"
    (drop)="eventDropped.emit({event: $event.dropData.event, newStart: day.date})">
    <span class="align-baseline float-left">{{ day.date | date:'EEEEEE | dd':undefined:locale }}</span>
    <span class="align-baseline float-right small">{{dayTotals[day.day] | durationFormat}}</span>
  </div>
</div>
<div class="brx-jobs-container">
  <div class="brx-jobs-header">
    <div class="brx-jobs-circle pointer" (click)="toggleJobs()">
      <brx-icon-job class="brx-icon-job" scale="1.2"></brx-icon-job>
    </div>
    <div class="brx-jobs-overview" *ngIf="jobsOpen">
      <div class="brx-jobs-title">
        Klussenoverzicht
      </div>
      <div>
        <brx-icon-close class="pointer" (click)="closeJobs()"></brx-icon-close>
      </div>
    </div>
  </div>
  <div dragOverClass="drag-over" class="brx-jobs-selection-container" *ngIf="jobsOpen">
    <div class="">
      <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
      <ul>
        <li
          *ngFor="let event of externalEvents"
          mwlDraggable
          [dropData]="{event: event}"
          dragActiveClass="drag-active"
          style="z-index: 100"
        >
          <a href="javascript:;" [style.color]="event.color.primary">
            {{ event.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


