<brx-hr-header
  [view]="view"
  [viewDate]="viewDate"
  [days]="days"
  (viewDateChange)="viewDateChange.next($event)"
  [totalRegistration]="dayTotals.total"
></brx-hr-header>

<div class="brx-weekday-headers">
  <div
    class="brx-weekday-header align-bottom"
    *ngFor="let day of days"
    [class.cal-past]="day.isPast"
    [class.cal-today]="day.isToday"
    [class.cal-future]="day.isFuture"
    [class.cal-weekend]="day.isWeekend"
    [ngClass]="day.cssClass"
    (mwlClick)="dayHeaderClicked.emit({day: day})"
    [attr.date]="day.date | date:'yyyyMMdd':undefined:locale"
    mwlDroppable
    dragOverClass="cal-drag-over"
    (drop)="eventDropped.emit({event: $event.dropData.event, newStart: day.date})">
    <span class="align-baseline float-left">{{ day.date | date:'EEEEEE | dd':undefined:locale }}</span>
    <span class="align-baseline float-right small">{{dayTotals[day.day === 0 ? 6 : day.day - 1] | durationFormat}}</span>
  </div>
</div>
<div class="brx-jobs-container">
  <div class="brx-jobs-header">
    <div class="brx-jobs-circle pointer" (click)="toggleJobs()">
      <brx-icon-job class="brx-icon-job" scale="1.2"></brx-icon-job>
    </div>
    <div class="brx-jobs-overview" *ngIf="jobsOpen">
      <div class="brx-jobs-title">
        Klussenoverzicht
      </div>
      <div>
        <brx-icon-close class="pointer" (click)="closeJobs()"></brx-icon-close>
      </div>
    </div>
  </div>
  <div dragOverClass="drag-over" class="brx-jobs-selection-container" *ngIf="jobsOpen">
    <div class="">
      <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
      <ul>
        <li
          *ngFor="let event of externalEvents"
          mwlDraggable
          [dropData]="{event: event}"
          dragActiveClass="drag-active"
          style="z-index: 100"
        >
          <a href="javascript:;" [style.color]="event.color.primary">
            {{ event.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


