<svg width="14px" height="12px" viewBox="0 0 14 12" version="1.1" [attr.transform]="'scale('+scale+')'" xmlns="http://www.w3.org/2000/svg">
  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Icon/Close" transform="translate(0.000000, -1.000000)" [attr.stroke]="stroke">
      <g id="Group" transform="translate(1.000000, 1.000000)">
        <path d="M0,0 L12,12" id="Stroke-29"></path>
        <path d="M12,0 L0,12" id="Stroke-31"></path>
      </g>
    </g>
  </g>
</svg>
