<svg width="14px" height="14px" [attr.transform]="'scale('+scale+')'" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 56.2 (81672) - https://sketch.com -->
  <title>Icon/Close</title>
  <desc>Created with Sketch.</desc>
  <g id="Icon/Close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <path d="M1,1 L13,13" id="Stroke-29" [attr.stroke]="stroke"></path>
    <path d="M13,1 L1,13" id="Stroke-31" [attr.stroke]="stroke"></path>
  </g>
</svg>
