<div class="brx-list-container">
  <div class="brx-list-column" *ngFor="let header of headers | orderBy:'index'">
    <div class="brx-list-header brx-list-cell">{{header.title}}
      <span *ngIf="header.sortable" (click)="handleSort(header.key)" class="pointer">
        <brx-icon-sort-default *ngIf="orderByKey !== header.key"></brx-icon-sort-default>
        <brx-icon-sort-up *ngIf="orderByKey === header.key && orderByReversed"></brx-icon-sort-up>
        <brx-icon-sort-down *ngIf="orderByKey === header.key && !orderByReversed"></brx-icon-sort-down>
      </span></div>
    <div class="brx-list-row brx-list-cell" *ngFor="let item of items | orderBy:orderByKey:orderByReversed:true">
      <span>{{item[header.key]}}</span>
    </div>
  </div>
</div>
