@import "./variables/index";

.brx-modal-container {
  padding-bottom: 25px;
}

//.brx-modal-backdrop {
//  background-color: $white !important;
//  opacity: 0.99 !important;
//}

.modal-full {
  margin-top: 50px;

  .modal-dialog {
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .modal-content {
      background-color: transparent;
    }
  }
}

