@import "~bootstrap/scss/mixins";


$black: #000;
$brx-primary: #ff004e;
$brx-dark: #424242;


@include bg-variant(".bg-brx-dark", $brx-dark);
@include bg-variant(".bg-black", $black);


// Angular Calendar Overrides
$cal-event-color-primary: #1e90ff !default;
$cal-event-color-secondary: #d1e8ff !default;
$cal-border-color: #e1e1e1 !default;
$cal-bg-primary: #fff !default;
$cal-bg-secondary: #fafafa !default;
$cal-bg-active: #ededed !default;
$cal-today-bg: #e8fde7 !default;
$cal-weekend-color: #8b0000 !default;
$cal-badge-color: #b94a48 !default;
$cal-white: #fff !default;
$cal-gray: #555 !default;
$cal-black: #000 !default;

// BOOTSTRAP OVERRIDES
$body-bg: #fff;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;

$modal-content-border-radius: 0;
$modal-content-border-width: 0;


$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
