<nav class="navbar navbar-expand-lg navbar-dark brx-bg-dark">
  <a class="navbar-brand" href="/"><img src="assets/images/Bricks-logo.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-3">
      <brx-nav-item *ngFor="let route of routesLeft" [path]="route.path" [icon]="route.icon" [title]="route.title"></brx-nav-item>
    </ul>
    <div class="my-2 my-lg-0 mr-auto">
      <div class="input-group brx-navbar-search">
        <input class="form-control" type="search" placeholder="Zoek op alles..." aria-label="Search"/>
        <div class="input-group-append">
          <button class="btn brx-btn-search brx-btn" type="button">
            <brx-icon-search></brx-icon-search>
          </button>


        </div>
      </div>
    </div>
    <ul class="navbar-nav">
      <brx-nav-item *ngFor="let route of routesRight" [path]="route.path" [icon]="route.icon" [title]="route.title"
                    cssClass="no-border"></brx-nav-item>
      <brx-nav-item [path]="null" [title]="'Uitloggen'" (itemClick)="logOut()" [active]="false" cssClass="no-border"></brx-nav-item>
    </ul>
  </div>
</nav>
